@import "tailwindcss";

@theme {
  --color-primary: #FFAD4E;
  --color-primary-light: #FFF4E6;
  --color-primary-dark: #E08A20;
  --color-brand-orange: #FFAD4E;
  --color-brand-light: #FFE4BA;
  --color-section-orange: #FFD49A;
  --color-section-warm: #FFFAF3;
}
